* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:  border-box;
}

html {
   scroll-behavior: smooth; 
}

:root {
  --main-color: #000000d1 ;
  --secondary-color: #1d2b38;
  --secondary-color: #1d2b38;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --main-transition: 0.3s;
}

.parent {
  background-color: #ffffff;
}

.container{
  margin: auto;
  background-color: #ffffff00;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 360px) {
  .container {
    width: 350px;
  }
}

@media (min-width: 500px) {
  .container {
    width: 500px;
  }
}

@media (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 798px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  }


@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} 

@media (min-width: 1550px) {
  .container {
    width: 1500px;
  }
} 

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.header {
  padding: 5px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #797979;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #797979;
}

.header .logo {
  width: 55px;
}

.header .links {
  position: relative;
}

.header .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.header .links ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  margin-left: 30px;
}

.header .links ul li a:hover {
  color: #1d2b38;
}

.header .links ul li:last-child a {
  display: flex;
  align-items: center;
  background-color: #1d2b38;
  border: 1px solid #1d2b38;
  border-radius: 10px;
  height: 40px;
}

.header .links ul li:last-child a:hover {
  border: 1px solid #1d2b38;
  background-color: #193c5e00;
}

.landing {
  background-image: url(../img/Background-imgs/intro_web.jpg);
  /* https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg */
  background-size: cover;
  height: calc(80vh);
}

@media (min-width: 360px) {
  .landing .container-v2 {
    width: 350px;
  }
}

@media (min-width: 300px) {
  .landing .container-v2 {
    width: 340px;
  }
}

@media (min-width: 798px) {
  .landing .container-v2 {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .landing .container-v2 {
    width: 970px;
  }
  .landing .intro-text {
    width: 9000px;
  }
  }


@media (min-width: 1200px) {
  .landing .container-v2 {
    width: 1200px;
  }
  .landing .intro-text {
    width: 800px;
    font-size: 30px;
  }
} 

@media (min-width: 1500px) {
  .landing .container-v2 {
    width: 1500px;
  }
  .landing .intro-text {
    width: 1000px;
  }
} 

.landing .container-v2{
  margin: auto;
  background-color: #ffffff00;
  padding: 0 15px 0 15px;
  height: calc(80vh);
}

.landing .intro-text {
  width: 1000px; 
  text-align: center;
  font-family: sans-serif; 
} 

.landing .landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%; 
  margin: auto;
  text-align: center;
  font-family: sans-serif; 
}

.landing .intro-text h1{
  font-size: 40px;
  margin: 0px;
  color: #ffffff;
  width: 1000px; 
}

.intro-text p {
  font-size: 30px;
  line-height: 1.2;
  color: #d8d4d4;
}

.intro-text .button-11-1 {
margin: 40px 0 0 0;
}

.intro-text .button-11-1 button  {
  background-color:#797979;
  color: white;
  font-weight: 800;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 60px;
  transition: 0.2s;
}

.intro-text .button-11-1 button:hover {
  box-shadow: inset 0px 0px 60px 10px #1d2b38;
} 

.landing .footer-landing {
  padding: 35px;
  margin: auto;
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100px;
  background-color: #00000056;
}

.landing .footer-landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(121, 121, 121, 0);
}

.landing .footer-landing .media i {
  font-size: 25px;
  color: white;
  margin-left: 10px;
}

.landing .footer-landing .link-001 a {
  color: white;
}

.landing .footer-landing .link-001:hover a {
  color: rgb(207, 207, 207);
}

.landing .footer-landing .link-001:hover i {
  color: rgb(207, 207, 207);
}

.landing .footer-landing .link-001 i {
  margin-left: 10px;
  color: white;
}

@media (min-width: 360px) {
  .landing .intro-text h1 {
    font-size: 20px;
}
.landing .intro-text p {
    font-size: 10px;
}
.landing .landing-content .button-11-1 button {
  height:10px;
  width: 50px;
}
.landing .landing-content .button-11-1 {
  margin: 10px 0 0 0;
}
}

@media (min-width: 300px) {
.landing .intro-text p {
    font-size: 10px;
} 
.landing .intro-text h1 {
    font-size: 30px;
}
.landing .landing-content .button-11-1 button {
  height:40px;
  width: 100px;
}
.landing .landing-content .button-11-1 {
  margin: 20px 0 0 0;
}
}
@media (min-width: 798px) {
  .landing .intro-text p {
    font-size: 15px;
  } 
  .landing .intro-text h1 {
    font-size: 35px;
  }
  .landing .landing-content .button-11-1 button {
    height:50px;
    width: 130px;
  }
  .landing .landing-content .button-11-1 {
    margin: 30px 0 0 0;
  }
} 

@media (min-width: 998px) {
  .landing .intro-text p {
    font-size: 20px;
  } 
  .landing .intro-text h1 {
    font-size: 40px;
  }
  .landing .landing-content .button-11-1 button {
    height: 50px;
    width: 150px;
  }
  .landing .landing-content .button-11-1 {
    margin: 40px 0 0 0;
  }
} 


.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.features .container {
  padding: 0;
} 

.features .intro-text-features-section {
  position: relative;
  background-color: #f6f6f6;
}

.features-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 21px;
  background-color: #f6f6f6;
}

.features .intro-text-features-section p{ 
  color: #5f5f5f;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  margin: 0 0 20px;
}

.features .intro-text-features-section h2{ 
  color: #000000;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}

.features .feat {
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

.features .features-content img {
  border: 2px solid rgb(0, 0, 0);
  width: 320px;
  height: 350px;
  border-radius: 160px 160px 0 0;
  z-index: 10;
}

.features .features-content .Text-under {
  position: relative;
  top: -6px;
  color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.53);
  background-color: #e8e8e8;
  z-index: 1;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0 20px 0;
}

.features .feat p {
  line-height: 1.8;
  color: #00000092;
  font-size: 17px;
}

.button-11-2 button  {
  background-color:#1d2b38;
  color: white;
  height: 40px;
  width: 100px;
  border: 1px solid #1d2b38;
  border-radius: 10px;
  transition: 0.2s;
}

.button-11-2 button:hover {
  border: 1px solid #1d2b38;
  color: #1d2b38;
  background-color: #1d2b3800;
}

@media (min-width: 300px) {
  .features .features-content .feat {
    padding: 0;
  }
  .features .features-content .feat img {
    width: 300px;
    height: 330px;
  }
  .features .features-content .feat .Text-under {
    position: relative;
    left: 20px; 
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 798px) {
  .features .features-content .feat {
    padding: 0;
  }
  .features .features-content .feat img {
    width: 300px;
    height: 330px;
  }
  .features .features-content .feat .Text-under {
    position: relative;
    left: 33px; 
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 992px) {
  .features .features-content .feat {
    padding: 0;
  }
  .features .features-content .feat img {
    width: 300px;
    height: 330px;
  }
  .features .features-content .feat .Text-under {
    position: relative;
    left: 5px; 
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .features .features-content .feat {
    padding: 11px;
  }
  .features .features-content .feat img {
    width: 320px;
    height: 350px;
  }
  .features .features-content .feat .Text-under {
    position: relative;
    left: 8px; 
    width: 321px;
    height: 250px;
  }
} 

.services .services-content {
  padding: 100px 0 100px 100px;
}

.services .services-content .Text-services-content-section {
  text-align: center;
  width: 600px;
}  

.services .services-content .Text-services-content-section p:first-of-type {
  color: #1d2b38;
  margin:  0 0 30px 0;
}  

.services .services-content .Text-services-content-section p:last-of-type {
  line-height: 1.8;
  font-size: 20px;
  color: #000000c0;
  margin:  30px 0 30px 0;
}  

.services .services-content .Image-services-content-section {
  display: flex;
  justify-content: end; 
}

.services .services-content .Image-services-content-section img {
  position: absolute;
  width: 562px;
  height: 701px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0 0 300px 300px;
  margin-top: -490px;
}

.Portfolio {
  padding-top: 60px ;
  padding-bottom: 120px;
  background-color: #f6f6f6; 
}

.Portfolio .container {
  background-color: #f6f6f6;
}

.Portfolio .container .intro-text-popular-section p{ 
  color: #5f5f5f;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 20px;
}

.Portfolio .container .intro-text-popular-section h2{ 
  color: #000000;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}

.Portfolio .Portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.Portfolio .Portfolio-content .Card img {
  width: 341px;
  height: 300px;
  border: 1px solid #000000;
}

.Portfolio .Portfolio-content .Card ul {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.Portfolio .Portfolio-content .Card ul i {
  color: #000000;
}

.About {
  padding: 20px 100px 0 100px;
  border-bottom: 2px solid black;
}

.About .container .outer-text-about-section {
  background-color: #e8e8e8;
  text-align: center;
  margin: 20px 400px 0;
  padding: 100px 0 100px;
  border-radius: 100% 100% 0 0;
}

.About .container .outer-text-about-section h2 {
  color: #000000;
  font-size: 35px;
  font-weight: 800;
}

.About .container .outer-text-about-section p {
  color: #000000ad;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px 0 50px 0;
}

.footer {
  background-color: #f6f6f6;
  padding: 70px 0 50px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 140px;
  background-color: #f6f6f6;
}

.footer .logo {
  width: 160px;
  margin-bottom: 20px;
  /* margin-left: 72px; */
}

.footer .box-1 .social {
  display: flex;
  text-decoration: none;
  justify-content: center;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .box-1 .text {
  line-height: 2;
  color: #000000;
}

.footer .box-1 .text span {
  display: flex;
  justify-content: center;
}

.footer .box-1 .social li a {
  background-color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  text-decoration: none;
}

.footer .box-1 .social li a {
  color: #faf6f6;
  font-size: 20px;
}

.footer .box-1 .social li {
  margin-right: 10px;
}

.footer .box-1 .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box-1 .links li a {
  color: #000000;
  transition: var(--main-transition);
}

.footer .box-1 .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box-1 .links li:hover {
  padding-left: 10px;
}

.footer .box-1 .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box-1 .line {
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 10px;
}

.footer .box-1 .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box-1 .line .info a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.footer .box-1 .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

.footer .box-1 .line .info span {
  display: block;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: rgb(5, 0, 0);
  margin: 50px 0 0;
}

.footer .copyright span img {
  width: 255px;
  height: 150px;
  box-shadow: 10px 10px 50px 10px rgb(226, 43, 43);
}

@media (min-width: 798px) {
  .footer .copyright span img {
    position: relative;
    top: -70px;
  }
}

@media (min-width: 992px) {
  .footer .copyright span img {
    position: relative;
    top: -10px;
  }
  }


@media (min-width: 1200px) {
  .footer .copyright span img {
    position: relative;
    top: -60px;
  }
} 

.footer-2 {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

.footer-2 span {
  font-weight: bold;
  color: darkgray;
} 

a {
  text-decoration: none;
}

#Footer .mm-1522 {
  line-height: 2;
  width: 250px;
}
@media (min-width: 300px) {
  #Footer .mm-1522 {
    position: relative;
    left: 31px;
    top: -10px;
  }
}

@media (min-width: 798px) {
  #Footer .mm-1522 {
    position: relative;
    left: 426px;
    top: -115px;
  }
}

@media (min-width: 992px) {
  #Footer .mm-1522 {
    position: relative;
    left: 30px;
    top: 95px;
  }
}

@media (min-width: 1200px) {
  #Footer .mm-1522 {
    position: relative;
    left: 888px;
    top: -115px;
  }
}

/* End */

@media (min-width: 360px) {
  .footer .logo {
    margin-left: 70px;
  }
}

@media (min-width: 300px) {
  .footer .logo {
    margin-left: 70px;
  }
}

@media (min-width: 798px) {
  .footer .logo {
    margin-left: 85px;
  }
}

@media (min-width: 992px) {
  .footer .logo {
    margin-left: 58px;
  }
  }


@media (min-width: 1200px) {
  .footer .logo {
    margin-left: 42px;
  }
}
